.pagination
    padding: 2em
    display: flex
    font-size: 1.0rem
    .left
        width: 50%;
        align-self: flex-start

    .right
        width: 50%
        align-self: flex-end
        text-align: right

        a:first-child
            margin-right: 1em;

    .page-input
        width: 4em;
        height: 2em;
        line-height: 2em;
        text-align: center;
        position: relative;
        top: -2px;
        border: 1px solid #b5b5b5
        outline: none