@import '../components/logo/_logo.styl'
@import '../global.styl'


.mask
    background rgba(0,0,0,.7)
    position fixed
    left: 0
    right: 0
    top: 0
    bottom: 0
    .panel
        position: absolute
        left: 50%
        top: 30%
        margin-left: -15em
        background: #fff
        width: 30em
        box-shadow: 3px 3px 9px 2px #3a3838
        header
            background: #A69EF5
            color: #fff
            height: 3em
            line-height: 3em
            letter-spacing: 4px
            font-size: 1.2em;
        .content
            padding: 2em 1em 1em
            font-size: .9em
        header
        .content
            text-align: center


        .oprator
            padding: 1em
            height: 4em