@import '../components/left-menu/_leftMenu.styl'
@import '../components/title/_title.styl'
@import '../global.styl'
@import '../components/label-input/_labelInput.styl'

.form
    padding: 2em 4em 4em;
    borderSolid(bottom)
