@import '../components/logo/_logo.styl'
@import '../global.styl'

header
    padding 2em;

.page-404
    .text-center
        padding-top: 4em
        h1
            font-size: 6em
            letter-spacing: 20px
            margin: 0
        p
            font-size: 2em
            font-weight: 100
            letter-spacing: 10px