<ul class="video-list">
    <li>
        <article>
            <div class="info">
                <a href="#">亚瑟王：斗兽争霸 <span class="pull-right">2017</span></a>
                <p class="tags">类型：剧情、动作、传奇</p>
                <p class="time">片长：126 分钟</p>
                <p class="desc">亚瑟王（King Arthur）全名为亚瑟·潘德拉刚（Arthur Pendragon），是英格兰传说中的国王，他在罗马帝国瓦解之后统一了不列颠群岛，被后人尊称为亚瑟王。传说中，亚瑟王得到了大法师梅林的辅佐，是圆桌骑士团的领袖，而他与他的王后桂妮薇儿以及第一骑士兰斯洛特三者的感情纠葛更是成为亚瑟王影视作品中必不可少的部分。
据悉，这次盖·里奇用的是Joby Harold的剧本，该剧本基本上会忠实于托马斯·马亚瑟王（King Arthur）全名为亚瑟·潘德拉刚（Arthur Pendragon），是英格兰传说中的国王，他在罗马帝国瓦解之后统一了不列颠群岛，被后人尊称为亚瑟王。传说中，亚瑟王得到了大法师梅林的辅佐，是圆桌骑士团的领袖，而他与他的王后桂妮薇儿以及第一骑士兰斯洛特三者的感情纠葛更是成为亚瑟王影视作品中必不可少的部分。
据悉，这次盖·里奇用的是Joby Harold的剧本，该剧本基本上会忠实于托马斯·马亚瑟王（King Arthur）全名为亚瑟·潘德拉刚（Arthur Pendragon），是英格兰传说中的国王，他在罗马帝国瓦解之后统一了不列颠群岛，被后人尊称为亚瑟王。传说中，亚瑟王得到了大法师梅林的辅佐，是圆桌骑士团的领袖，而他与他的王后桂妮薇儿以及第一骑士兰斯洛特三者的感情纠葛更是成为亚瑟王影视作品中必不可少的部分。
据悉，这次盖·里奇用的是Joby Harold的剧本，该剧本基本上会忠实于托马斯·马</p>
            </div>
            <div class="post">
                <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1503024022&di=13ecbb0349cbbc09090693ce0aae06cb&imgtype=jpg&er=1&src=http%3A%2F%2Fnew-img2.ol-img.com%2F985x695%2F116%2F579%2Flig3zrvtdDEDc.jpg" alt="海报">
            </div>
        </article>
    </li>
    <div style="min-height: 2000px"></div>

</ul>