<menu>
    <section class="logo">
        <img src="../assets/logo.png" alt="imovie-logo">
    </section>
    <section class="user-infomation">
        <ul>
            <li><span class="label">会员</span> <a href="javascript:void(0);" class="username">卖火柴的小女孩</a></li>
            <li><span class="label">充值</span> <a href="javascript:void(0);" class="vip-count">365 天后到期</a></li>
        </ul>
    </section>

    <section class="nav-link">
        <ul>
            <Li><a href="javascript:void(0);">最新上线</a></Li>
            <Li><a href="javascript:void(0);">发现更多</a></Li>
            <Li><a href="javascript:void(0);">个人设置</a></Li>
            <Li><a href="javascript:void(0);">退出登录</a></Li>
        </ul>
    </section>
</menu>